<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>로그인 / 회원가입 폼 템플릿</title>
        <link rel="stylesheet" href="../css/LoginAndSignUpForm.css">
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        
    </head>
    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" onclick="login()">LOG IN</button>
                    <button type="button" class="togglebtn" onclick="register()">REGISTER</button>
                </div>
                <!-- <div class="social-icons">
                    <img src="img/fb.png" alt="facebook">
                    <img src="img/tw.png" alt="twitter">
                    <img src="img/gl.png" alt="google">
                </div> -->
                <form id="login" action="" class="input-group">
                    <input type="text" class="input-field" placeholder="Enter Id" required>
                    <input type="password" class="input-field" placeholder="Enter Password" required>
                   <!--  <input type="checkbox" class="checkbox"><span>Remember Password</span> -->
                    <button class="submit">Login</button>
                </form>
                <form id="register" action="" class="input-group" >
                    <h5>아이디</h5>
                    <input type="text" class="input-field" placeholder="Enter your new ID" required>
                   <h5>비밀번호</h5>
                    <input type="password" class="input-field" id="password" placeholder="Enter your new Password" onkeydown="inputPassword();" onblur="outFocusFromPassword();" required>
                    <div class='alert' id='alertInputPassword'></div>
                    <h5>비밀번호 확인</h5>
                    <input type="password" class="input-field" id="checkPassword" placeholder="Re-enter Password"  onkeyup="check();"  onblur="outFocusFromCheck();" required>
                	  <div class='alert' id='alertCheckPassword'></div>
                     <h5>이름</h5>
                     <input type="text" class="input-field" placeholder="Your Name" required>
                     <h5>이메일</h5>
                     <div id ='emailForm'>
	                     <input type="email"  id='email' class="input-email" placeholder="Your Email" onkeydown="checkEmail();" onblur="outFocusFromEmail();" required>
                         <input type="hidden" id="randomnumber">
	                     <button type="button" id='emailButton' class="w-btn-outline w-btn-yellow-outline" onclick="comeButton();">인증번호</button>
	                     
                    </div>
                    <div class='alert' id='alertCheckEmail'></div>
                    <div id ='emailForm'>
                        <input type="text" class="input-randomNumber"  id='inputRandomNumber' placeholder="인증코드 확인" onblur="outFocusFromCheckRandomNumber()" >
                        <button type="button" id='checkButton' class="w-btn-outline w-btn-yellow-outline" onclick="alertCheckRandomNumber();">확인</button>
                    </div>          
                    <div class='alert' id='alertCheckRandomNumber'></div>
                     <h5>생일</h5>
                     <input type="text" class="input-field" placeholder="Your Birthday (ex 19960205)" required>
                     <h5>전화번호</h5>
                     <div id ='emailForm'>
	                     <input type="tel"  id='phoneNumber' class="input-email" placeholder="Your PhoneNumber" onkeydown="checkEmail();" onblur="outFocusFromEmail();" required>
                         <input type="hidden" id="authenticationNumber">
	                     <button type="button" id='phoneButton' class="w-btn-outline w-btn-yellow-outline">전송</button>
                    </div>
                    <div class='alert' id='alertCheckRandomNumber'></div>
                    <div id ='emailForm'>
                        <input type="text" class="input-randomNumber"  id='inputRandomNumber' placeholder="인증번호 확인">
                        <button type="button" id='checkButton' class="w-btn-outline w-btn-yellow-outline" onclick="alertCheckRandomNumber();">확인</button>
                    </div>          
                    <div class='alert' id='alertCheck'></div>
                     
       				<input type="text" id="postcode"  class="input-field"  placeholder="우편번호">
					<button type="button" class="w-btn-outline w-btn-yellow-outline" onclick="DaumAPI()" >우편번호 찾기</button><br>
					<input type="text" id="address"  class="input-field"  placeholder="주소"><br>
					<input type="text" id="detailAddress" class="input-field"  placeholder="상세주소">
					<input type="text" id="extraAddress"  class="input-field"  placeholder="참고항목">

                   <br>
                    <button class="submit" onclick="return checkRandomNumber();">REGISTER</button>
                    <br><br>
              
                </form>
            </div>
        </div>
 <script src="../js/LoginAndSignUpForm.js"></script>
 <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
 <script src="../js/LoginAndSignUpForm_DaumAddressAPI.js"></script>

    </body>
</html> 

